form {
  padding: 10px;
}

table {
  margin-top: 10rem;
  background: lightblue;
  z-index: 10;
}

.breadcrumb {
  display: flex;
  margin: 15px;
}

.spacer {
  font-size: 20px;
  color: #fff;
}

.breadcrumb a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

.breadcrumb a:hover {
  color: lightblue;
}

tr.item {
  cursor: pointer;
}

table button {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #fff;
}
table button:hover,
table button:active {
  background-color: rgb(131, 201, 224);
  border-color: rgb(131, 201, 224);
}
