.login {
  width: 25rem;
  margin: auto;
  background: lightblue;
  padding: 25px;
  margin-top: 10%;
  border-radius: 5px;
  box-shadow: 1px 4px 20px rgba(0 0 0 / 30%);
}

form button {
  background: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

form button:hover,
form button:active {
  background-color: rgb(131, 201, 224);
  border-color: rgb(131, 201, 224);
}

form button:disabled,
form button:disabled:hover,
form button:disabled:active {
  background-color: #fff;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: #b40e0e;
}

@media (max-width: 501px) {
  .login {
    width: auto;
    margin: 20px;
  }
}
